<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Prediction</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add your custom CSS if needed -->
    <style>
        /* Your custom CSS styles go here */
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center mb-4">Emotion Prediction</h1>
                <form action="/predict_base" method="POST">
                    <div class="form-group">
                        <label for="text">Enter text:</label>
                        <input type="text" class="form-control" id="text" name="text" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Predict (Base Model)</button>
                </form>
            </div>
        </div>
        <!-- Add a new row for the second form -->
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <form action="/predict_optimized" method="POST">
                    <div class="form-group">
                        <label for="text">Enter text:</label>
                        <input type="text" class="form-control" id="text" name="text" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Predict (Optimized Model)</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
